.container {
    .score {
        display: flex;
        justify-content: center;
        color: #354153;
        font-size: 30px;
        line-height: 45px;
        font-weight: bold;
        margin-top: 146px;
    }
}