/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Barlow;
    src: url(assets/fonts/Barlow-Regular.ttf);
}

.Barlow {
    font-family: Barlow;
}

body {
    margin            : 0;
    font-family       : Barlow;
    background-color  : #E5E5E5;
}


.container {
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
}

.header {
    color       : #3A7859;
    font-weight : bold;
    font-size   : 50px;
    line-height : 75px;
    margin-top  : 134px;
}

.btn {
    margin-top         : 99px;
    width              : 150px;
    height             : 56px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    padding            : 16px 20px 18px;
    background-color   : #3A7859;
    border-radius      : 18px;
    border             : unset;
    color              : #fff;
    cursor             : pointer;
    font-size          : 18px;
    line-height        : 22px;

            
    &:disabled {
        background-color : #F6F7F8;
        color            : #C4C4C4;
        pointer-events   : unset;
        cursor           : not-allowed;
    }
}
